@tailwind base;
@tailwind components;
@tailwind utilities;

main h1, main h2, main h3, main h4, main h5 {font-family: 'Playfair Display', serif;}
.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }